<div class="module width_full">
  <header>
    <h3>Work Area</h3>
  </header>
    <div class="module_content">
1. The quick brown fox jumps over the lazy dog. <br />
2. The quick brown fox jumps over the lazy dog. <br />
3. The quick brown fox jumps over the lazy dog. <br />
4. The quick brown fox jumps over the lazy dog. <br />
5. The quick brown fox jumps over the lazy dog. <br />
6. The quick brown fox jumps over the lazy dog. <br />
7. The quick brown fox jumps over the lazy dog. <br />
     </div>
</div>

