<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %> 
<link rel="stylesheet" type="text/css" href="images/style.css" />
<title>SMS Content Management Platform</title>
</head>
<body>
	<div id="bg">
		<div id="sadrzaj">
			<div id="toplinks"></div>

			<div id="zaglavlje">
				<div id="title">
					<a href="#">SMS Content Management Platform</a>
				</div>	
			</div>

			<div id="navigacija">
				
				 
			</div>
	
			<div id="clanci" style="height: 300px">
			
                                <%# yield %>
					
			                         LOGIN BOX APPEARS HERE					
			</div>

							<div id="podaci">
    				<p>Validate > <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
					<a href="http://validator.w3.org/check?uri=referer">XHTML 1.0 Strict!</a></p>
    				<p>&copy; <a href="#">Yoursite.com</a> > Designed by <a href="mailto:luka@solucija.com">Luka Cvrk</a>
					</p>	
    			</div>
			</div>

